*{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin:0;
    padding:0;
}
body{
    background-image: url(Materials/Background.jpg);
}
nav{
    position: absolute ;
    width: 118px;
    height: 900px;
    left: 0px;
    top: 0px;

    background: #FF5800;
    border-radius: 38px 0px 0px 38px;

    display: inline-grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 4fr;
}
nav img{
    position: absolute;
    margin: 19%;
}
nav img:hover{
    opacity: 1;
}
nav img.active{
    opacity: 1;
}
nav img.inactive{
    opacity: 0.6;
}
#status-icon{
    top: 5%;
    bottom: 85%;
}
main{ 
    position: absolute;
    width: 1300px;
    height: 900px;
    left: 79px;
    top: 71px;

    background: #F4F6F9;
    box-shadow: 5px 7px 40px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
}
#bg-img-planets{
    position: absolute;
    left: 874px; 
    border-radius: 0px 50px;
}
#bg-img-rocket{
    position: absolute;
    left: 770px;
    top: 430px; 
}
.enable{
    display: initial;
}
.disable{
    display: none;
}
/* Sections */
ol{
    position: absolute;
    background: #FFFFFF;
    border-radius: 10px;
    width: 560px;
    left: 142px;

    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}
li{
    list-style-type: none;
}
.status-inf{
    height: 172px;
    top: 48px;
}
#weather-inf{
    height: 260px;
    top: 266px;
}
#team-inf{
    height: 260px;
    top: 577px;
}
/* Секция статусов */
.status-inf li,h6{ 
    font-weight: 500;
}
.status-inf h6{ 
    border-bottom: 0.5px solid #D8DCE3;
    padding: 15px 0px 15px 25px;
}
.status-inf li::before{ 
    content: '';
    display:inline-block;
    width: 14px; 
    height: 14px;
    border-radius: 50%;
}
.status-inf li.indicator-on::before{ 
    background-color: #73E24D;
}
.status-inf li.indicator-off::before{ 
    background-color: #FF7D84;
}
.status-inf li{
    margin: 5px 0px 0px 25px;
    font-family: 'Poppins', sans-serif;
    line-height: 27px;
}

/* Вторая и третья секции */
.section-inf h6{ 
    border-bottom: 0.5px solid #D8DCE3;
    padding: 15px 0px 15px 25px;
    font-weight: bold;
}
.section-inf li{
    width: 487px;
    border-bottom: 0.5px solid #D8DCE3;
    padding: 8px 0px 8px 5px;
    margin-left: 25px;
}
.section-inf li span{
    display:inline-block;
    font-weight: bold;
    width: 165px;
}
.section-inf li:nth-of-type(1) {
    margin-top: 22px;
}

/* Секция погодных условий */
#weather-inf li span{
    color: #0A5499;
}
/* Секция состава команды */
#team-inf li:nth-of-type(1) span {
    color: #FF7D84;
}
#team-inf li:nth-of-type(2) span {
    color: #E69F54;
}
#team-inf li:nth-of-type(3) span {
    color: #64D03F;
}
#team-inf li:nth-of-type(4) span {
    color: #5A95F2;
}

/* Кнопка */
button {
    position: absolute;
    width: 150px;
    height: 30px;
    left: 380px;
    top: 12px;
    border: none;

    font: bold 16px/ 19px Roboto;
    align-items: center;
    text-align: center; 

}
.button-enabled{
    background: #73E24D;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.button-disabled {
    background: #E4E4E4;
    box-shadow: 0px 4px 4px rgba(224, 224, 224, 0.904);
    color: #999999;
    border-radius: 10px;
}
/* Дополнительные страницы */
h1{
    margin:0;
    font-size: 48px;
    line-height: 56px;
}
/*ShooseShip*/
.radio-button{
    text-align: center;
    line-height:  36px;
    margin:0;

    background: #D1E1FA;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 0px 0px 10px 10px;
}
.radio {
	width: 16px;
	height: 16px;
    margin: 0 3px 0 0;
    background: #FFFFFF;
    border: 1px solid #000000;
}